<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="theme-color" content="#000" />

    <link
      rel="preconnect"
      href="https://<%= appId %>-dsn.algolia.net"
      crossorigin
    />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="app.css" />


    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CArray.prototype.includes%2CPromise%2CObject.assign%2CObject.entries"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <title>ELEKTRA - SHOPPING</title>
  </head>

  <body>
    <header class="header">
      <div class="header-title">
        <img src="logo.png" />
        <h1>ELEKTRA PORTAL</h1>
      </div>
      <div id="search-button"></div>
    </header>

    <div class="content">
      <p>Search with your voice " Search for ... "</p>
    </div>

    <div class="content">
      <img style="width: 100%;"
        src="./img/67f70468-143c-441e-84a4-8e62e6dbb809___8156c88408fb430a41d4ca453f909b3a.jpg"
      />
    </div>

    <div class="content">
      <img class="" style="width: 100%;"
        src="./img/3f074e6f-98c0-4e3c-956c-09f18a0cbd2a___d12907ae699ceee831186eb4682bea07.jpg"
      />
    </div>

    <footer class="footer"></footer>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes,Promise,Object.assign,Object.entries,Object.values,IntersectionObserver"></script>

    <div id="dialogSpeak">
      <input
        size="400"
        type="hidden"
        id="textEntry"
        value="My name is coco, hello Dylan."
      />
      <button class="btn default" onClick="speakText()">Synthesize</button>
    </div>
    <div id="audioFrame"></div>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <script src="/enums.js" id="enumsVoice"></script>
    <script src="/nvuai.js" id="pollyVoice"></script>
    <script defer src="/neuralnetwork.shop.js"></script>

  </body>
</html>
